<section class="pa2">
    <h1>Boards</h1>
    <div class="flex flex-wrap">
        <% boards.each do |board| %>
            <div class="ba b--gold dib h5 w5 bg-yellow orange b flex flex-column justify-end pa2 mr2 mb2">
                <a class="dib flex-auto" href="/board/<%= board.id %>"></a>
                <div class="flex justify-between">
                    <a href="/board/<%= board.id %>"><%= board.title %></a>
                    <span>(<%= board.tasks.all.count %> tasks)</span>
                    <a href="/board/<%= board.id %>/delete">delete</a>
                </div>
            </div>
        <% end %>
    </div>
</section>
<section class="pa2 mb4">
    <form action="/board" method="POST">
        <input class="pa2 db" name="title" placeholder="Title for your board" required />
        <button class="mt2 db bg-yellow ba b--gold orange pa2" type="submit">Create Board +</button>
    </form>
</section>