<article id="task-<%=task.id%>" class="task w5 bg-yellow ba b--gold mb2 ph2">
    <p class="<%= 'strike' unless task.status == 'pending' %>">
        <%= task.task %>
    </p>
    <p class="tr">
        <a href="/user/<%=task.user.id%>">
            <%= task.user.name %>
        </a>
    </p>
</article>